#my-add{
        position: relative;
        left: 80px;
}

#p-add{
    position: relative;
}

#add{
    position: absolute;
    
}
.options{
    position: absolute  ;
    left: 450px;
}
td{
    padding: 7px;
}
body{
    text-align: center  ;
}
.my-table{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
    padding: 7px;
}
#my-name{
    position: relative;
    left: 20px;
}
#my-phone{
    position: relative;
    left: 10px;
}

.DOB{
position: relative;
right: 31px;
}
.dropdown{
    position: relative;
    right: 40px;
}
.dropdown label{
    position: relative;
    right: 10px;
}
.hob{
   
    position: relative;
    right: 90px;
}

.para1
{position: relative;
    left: 10px;

}
#hobby{
    position: relative;
    left: -100px;
}
#my-city{
    position: relative;
    left: 29px;
}
#submit{
    position: relative;
    right: 29px;
}
#reset{
    position: relative;
    left: 18px;
}
#hb5{
    position: relative;
    left: 14px;
}
#hb4 {
    position: relative;
    left: 2px;
}

#hb1{
position: relative;
right: 7px;
}
.options{
    position: relative;
    left: -5px;
}
#gen{
    position: relative;
    right: 23px;
}


/* postion property */

header{
    font-size: 20px;
    height: 60px;
    background-color: lightblue;
    color: green;
    position: fixed;
    top: 0;

   
}
.heading{
    /* box-sizing: border-box; */
    margin-top: 20px;
    
}

.container{
    margin-top: 150px;
   
}

header{
    z-index: +2;
    width: 100%;
    float:inherit;
}


/*border size,color and type*/

input:focus {
    border: 3px solid #f50909;
  }

  textarea:focus{
    border: 3px solid #f50909;
  }


  /* input[type=radio]
  {
    border: 3px solid #f50909;
  }
  input[type=checkbox]{
    border:3px solid #f50909;
  } */





/* visibility property */

  #hb5{
    visibility: hidden;
  }


  /* display property */
  tr:nth-child(6){
    display: none;
  }




/* float property */
  img{
    float: left;
    margin-top: 20px;
  }
 
  body{
    background-color: azure;
  }
  .container{
    border: 2px solid darkblue;
    margin-left: 118px;
    margin-right: 110px;
  }



  /* opacity */
  #male + label{
    opacity: 0.5;
  }
  #female + label{
    opacity:0.25;
  }